.Footer {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    padding: 40px 0px;
    p {
        margin: 0 auto;
        font-weight: 600;
    }
    a {
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-weight: 700;
    }
}
